body {
  background-color: black;
  color: white;
}

#countdown {
  border: white 2px solid;
  width: 800px;
  /* height: 200px; */
  font-size: 200px;
  text-align: center;
  font-family: digital-clock-font;
}

#celeste {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 150px;
}

div {
    white-space: pre-wrap;
 }

 @font-face{
  font-family:'digital-clock-font';
  src: url('digital-7 (mono).ttf');
 }